@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-editor {
  height: 100%;
  font-size: 14px;
}

.cm-scroller {
  overflow: auto;
}

html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}

.ProseMirror p {
    margin: 0.5em 0;
}
.ProseMirror p.heading-1 {
    font-size: 1.75rem;
    font-weight: bold;
}
.ProseMirror p.heading-2 {
    font-size: 1.5rem;
    font-weight: bold;
}
.ProseMirror p.heading-3 {
    font-size: 1.35rem;
    font-weight: bold;
}
.ProseMirror p.heading-4 {
    font-size: 1.25rem;
    font-weight: bold;
}
.ProseMirror p.heading-5 {
    font-size: 1.15rem;
    font-weight: bold;
}
.ProseMirror p.heading-6 {
    font-size: 1rem;
    font-weight: bold;
}

.heading-with-prefix::before {
    color: #999;
}

/* Style the # symbols at the start of headings */
h1.heading-with-prefix,
h2.heading-with-prefix,
h3.heading-with-prefix,
h4.heading-with-prefix,
h5.heading-with-prefix,
h6.heading-with-prefix {
    position: relative;
}
/* target ONLY the sidebar scroll container */
.custom-sidebar-scrollbar {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

/* Hide the second scrollbar if it tries to appear on children */
.custom-sidebar-scrollbar * {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE/Edge */
}
.custom-sidebar-scrollbar *::-webkit-scrollbar {
  display: none !important; /* Chrome/Safari */
}

/* Re-enable and style ONLY the main one */
.custom-sidebar-scrollbar::-webkit-scrollbar {
  display: block !important;
  width: 5px;
}
.custom-sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.tiptap-hidden-bullet-syntax {
  font-size: 0;
  visibility: hidden;
  letter-spacing: -999px;
}